body {
    display: flex;
}

*, *::before, *::after{
   box-sizing: border-box;
}

:root{

   --main-bg: #FAFAFA;
   --sub-bg: #C7EEFF;

   --accent: #2938ff;

   --fc1: #1D242B;
   --p: #323232; 
   --fw1: 700;
   --fw2: 400;
   /* Add more */
}

body{
   background-color: var(--main-bg);
}

/* Sidebar Styles */
.sidebar {
    width: 220px;
    height: 99vh;
    border-radius: 1rem;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s;
    margin: 3px;
    filter: drop-shadow(1px 3px 5px grey);
}

.sidebar-btn-focus{
    background-color: #6083f7;
}
.sidebar a {
    color: var(--p);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
}
.sidebar  > a:hover {
    transition: 0.2s ease-out;
    transform: translateX(.5rem);
    background-color: #e0f1f7;
}
#closeSidebar:hover{
    transition: 0.2s ease-out;
    background-color: #e0f1f7;
}

.notif-bell{
    &:hover{
        filter:  drop-shadow(1px 1px 5px grey);
        animation: ring .5s ease-in-out;
    }
}
.profile{
    &:hover{
        transition: .3s;
        filter:  drop-shadow(1px 1px 5px grey);
    }
}
@keyframes ring {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(15deg);
    }
    20% {
        transform: rotate(-15deg);
    }
    30% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
/* Hide Sidebar on Small Screens */
@media (max-width: 992px) {
    .sidebar {
        left: -230px; /* Hide by default */
    }
}
/* Toggle Button */
#toggleSidebar {
    font-size: 24px;
    cursor: pointer;
    
    &:hover{
        background-color: #e0f1f7;
    }
}
/* Main Content */
.content {
    flex-grow: 1;
    margin-left: 230px; /* Sidebar Space */
    transition: 0.3s;
    width: 100%;
}
@media (max-width: 992px) {
    .content {
        margin-left: 0; /* Full Width on Small Screens */
    }
}

#houses{
    background-color: rgb(245, 17, 17);
}
#tenants{
    background-color: rgb(71, 83, 255);
}
#payments{
    background-color: rgb(30, 182, 0);
}
.overviews .shortcuts:hover{
    opacity: .8;
    transition: .3s ease-in-out;
}